$fa-font-path : '../node_modules/font-awesome/fonts';
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$menu-color : #dbe0e2;
$head-color : #2f506c;
$hamburger-button-color : #fff;
$menu-option-color: #626b7a;
$menu-option-sekect-color: black;
$menu-option-sekect-bg-color: #fafafa;
$basic-font-family: Roboto, sans-serif;
